/*===========================RESET STYLES=================================*/
*,
*::after,
* b::before {
  margin: 0;
  padding: 0;
}

/*===========================UTILITIY CLASSES=================================*/
/*
the class .sr-only has been added here just in case, but the starter theme has a built-in feature:

		<span class="screen-reader-text"><?php esc_html_e('Shop Button', 'st_philip'); ?></span>
*/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*
This is the universal style for the buttons
*/
a.fake-button {
  display: inline-block;
  background-color: blue !important;
  padding: 1rem 2rem !important;
  color: white;
  cursor: pointer;
}

/*===========================TYPOGRAPHY=================================*/
h1,
.site-title {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

a:hover {
  color: pink;
}

/*===========================UNIVERSAL STYLE=================================*/
body {
  background-color: white;
  font-family: "Open Sans";
  font-size: 16px;
  max-width: 1248px;
  margin: 0 auto;
}
body main {
  background-color: rgb(184, 238, 223);
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  div.header-nav-container {
    display: grid;
    grid-template-columns: 80px 1fr;
  }
  div.header-nav-container ul#primary-menu {
    display: flex;
    flex-flow: row nowrap;
  }
  div.header-nav-container ul#primary-menu > li.menu-item:nth-last-of-type(2) {
    margin-left: auto;
    justify-self: end;
  }
}
@media only screen and (min-width: 1280px) {
  div.header-nav-container {
    display: grid;
    grid-template-columns: 80px 1fr;
  }
  div.header-nav-container ul#primary-menu {
    display: flex;
    flex-flow: row nowrap;
  }
  div.header-nav-container ul#primary-menu > li.menu-item:nth-last-of-type(2) {
    margin-left: auto;
    justify-self: end;
  }
}
/*===========================HEADER=================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.page-header {
  display: block;
}
header .woo-shop-button,
header .menu-toggle {
  display: block;
}
header .site-logo {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  header {
    display: block;
  }
  header .menu-toggle,
  header .woo-shop-button {
    display: none;
  }
  header .site-title {
    visibility: hidden;
    height: 0;
  }
  header .site-logo {
    visibility: visible;
    height: auto;
    width: 50px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1280px) {
  header {
    display: block;
  }
  header .menu-toggle,
  header .woo-shop-button {
    display: none;
  }
  header .site-title {
    visibility: hidden;
    height: 0;
  }
  header .site-logo {
    visibility: visible;
    height: auto;
    width: 50px;
    object-fit: cover;
  }
}

/*===========================ACF FILED GROUP=================================*/
/*
The .acf-gallery is for the gallery section of the parish organization and committee acf post types
*/
.acf-gallery {
  display: flex;
  flex-flow: row wrap;
}
.acf-gallery img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  flex: 1 1 33.33%;
}
.acf-gallery img:first-child {
  flex: 1 1 100%;
}
@media only screen and (min-width: 1280px) {
  .acf-gallery img {
    flex: 1 1 25%;
  }
}

.comment-list {
  display: flex;
  flex-flow: row wrap;
}
.comment-list .committee-member {
  flex: auto;
}

/*===========================NAVIGATION=================================*/
ul#primary-menu {
  background: white;
  display: none;
}
ul#primary-menu > li.menu-item {
  color: black;
  background: white;
  display: block;
  float: left;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  z-index: 900;
}
ul#primary-menu > li.menu-item:hover, ul#primary-menu > li.menu-item:focus-within {
  cursor: pointer;
}
ul#primary-menu > li.menu-item:focus-within a {
  outline: none;
}
ul#primary-menu > li.menu-item:hover > ul.sub-menu, ul#primary-menu > li.menu-item:focus-within > ul.submenu {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: inherit;
}
ul#primary-menu > li.menu-item > ul.sub-menu {
  background: white;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  transition: all 0.5s ease;
  margin-top: 1rem;
  padding: 8px 16px;
  left: 0;
  display: none;
}
ul#primary-menu > li.menu-item > ul.sub-menu:hover > li, ul#primary-menu > li.menu-item > ul.sub-menu:focus > li {
  visibility: visible;
  opacity: 1;
  display: block;
  width: 100%;
  z-index: inherit;
}
ul#primary-menu > li.menu-item > ul.sub-menu > li {
  clear: both;
  width: 100%;
  padding: 8px 16px;
}
#site-navigation.toggled ul#primary-menu {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
#site-navigation.toggled ul#primary-menu ul.sub-menu > li.menu-item {
  padding-left: 24px;
}

/*===========================END OF NAVIGATION=================================*/
/*===========================FOOTER=================================*/
footer .site-branding {
  text-align: center;
}
footer .site-branding a {
  display: inline-block;
}
footer #footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  footer #footer-menu {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  footer #footer-menu {
    grid-template-columns: repeat(4, 1fr);
  }
}/*# sourceMappingURL=style.css.map */*/
