/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/*
this part is for styles for the overall body
*/
body {
  /** Step 1: Choose a font-family **/
  font-family: "Alegreya Sans", sans-serif;
  /**Step 2: Set your default font-size (body font-size - always set in %'s **/
  font-size: 100%;
  /**16px**/
  /** Step 3: Choose your grid unit size 
      what is your vertical spacing going to be of **/
  line-height: 1.5; /* 1.2 based on figma  */
  /**20px x 1.5 = 30 grid units **/
  /** Step 4: Display visual grid **/
  background-image: linear-gradient(#0ff 1px, transparent 1px);
  background-size: auto 24px;
  /** Step 5: choose typographic scale 
      12, 14, 16, 18, 21, 24, 36, 48, 60, 72
  **/
  text-align: left;
}

/*===========================TYPOGRAPHY=================================*/
h1, h2, h3, h4, h5 {
  font-family: "Frank Ruhl Libre", serif;
}

p, a {
  font-size: clamp(1rem, 0.8276rem + 0.8621vw, 1.5rem);
}

h2 {
  font-size: clamp(1rem, 0.4828rem + 2.5862vw, 2.5rem);
  font-weight: 600;
}

h3 {
  font-size: clamp(1rem, 0.8276rem + 0.8621vw, 1.5rem);
  font-weight: 600;
}

.fine-print {
  font-size: clamp(1rem, 0.9138rem + 0.431vw, 1.25rem);
}

* {
  margin-bottom: 1.5rem;
}

/* those reusable component like stuff that accept variables */
.default-button {
  display: inline-block;
  padding: 1.25rem 1rem;
  font-size: clamp(1rem, 0.9138rem + 0.431vw, 1.25rem);
  font-weight: 700;
  border: none;
  border-radius: 0.3125rem;
  background-color: #781100;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.default-button:hover {
  background-color: #EFC275;
  color: #111933;
}

.secondary-button {
  display: inline-block;
  padding: 1.25rem 1rem;
  font-size: clamp(1rem, 0.9138rem + 0.431vw, 1.25rem);
  font-weight: 700;
  border: none;
  border-radius: 0.3125rem;
  background-color: #EFC275;
  color: #111933;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.secondary-button:hover {
  background-color: #EFC275;
  color: #111933;
}

.outlined-button {
  display: inline-block;
  padding: 1.25rem 1rem;
  font-size: clamp(1rem, 0.9138rem + 0.431vw, 1.25rem);
  font-weight: 700;
  border: 2px solid #781100;
  border-radius: 0.3125rem;
  background-color: #781100;
  color: #111933;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.outlined-button:hover {
  background-color: #EFC275;
  color: #111933;
}

/*
This is where we style our footer
*/
.site-footer {
  background-color: rgba(41, 73, 30, 0.7);
  color: white;
}
.site-footer > div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1248px;
  margin: 0 auto;
  padding: 112px 0;
  /* 
  Footer Section Styling
  */
  /*
  Footer Navigation Styling 
  */
}
.site-footer > div .site-branding {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.site-footer > div .site-branding a {
  display: inline-block;
}
.site-footer > div .site-branding .footer-title {
  display: block;
}
.site-footer > div .site-branding .site-logo {
  width: 50px;
  height: 50px;
}
.site-footer > div .site-branding .footer-church-info {
  background-color: transparent;
  margin: 32px 0 0;
  padding: 2rem;
  min-width: 320px;
}
.site-footer > div .site-branding .footer-church-info h3 {
  text-align: center;
  font-weight: 700;
}
.site-footer > div .site-branding .footer-church-info .church-hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 28px;
  gap: 2rem;
}
.site-footer > div .site-branding .footer-church-info .church-hours div {
  flex: 1;
  color: #F5F5F5;
  border: 1px solid #EFC275;
  background-color: transparent;
  border-radius: 4px;
  padding: 4px 24px;
}
.site-footer > div .site-branding .footer-church-info .church-hours div span {
  font-weight: 600;
}
.site-footer > div .site-branding .footer-church-info .church-hours div small {
  display: block;
}
.site-footer > div .site-branding .footer-church-info .church-hours .church-location {
  font-weight: 300;
  text-align: center;
}
.site-footer > div .footer-navigation #footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.site-footer > div .footer-navigation #footer-menu li.menu-item {
  padding: 8px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  .site-footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    padding: 112px 48px;
  }
  .site-footer > div .site-branding {
    justify-content: center;
    align-items: start;
  }
  .site-footer > div .site-branding .orthodox {
    margin-left: -2ch;
  }
  .site-footer > div .footer-navigation {
    padding: 0;
  }
}
@media only screen and (min-width: 1000px) {
  .site-footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    padding: 112px 48px;
  }
  .site-footer > div .site-branding {
    justify-content: center;
    align-items: start;
  }
  .site-footer > div .site-branding .orthodox {
    margin-left: -2ch;
  }
  .site-footer > div .footer-navigation {
    padding: 0;
  }
}

/*
This is where we style our header navigation
*/
div.header-nav-container {
  background-color: white;
  z-index: 1000;
}

@media only screen and (min-width: 1000px) {
  div.header-nav-container {
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 1rem 0.5rem;
    max-width: 1440px;
    margin: 0 auto;
  }
  div.header-nav-container ul#primary-menu {
    display: flex;
    flex-flow: row nowrap;
  }
  div.header-nav-container ul#primary-menu > li.menu-item {
    position: relative;
  }
  div.header-nav-container ul#primary-menu > li.menu-item > ul.sub-menu {
    position: absolute;
    top: 50px;
    left: -8px;
    z-index: 1000;
    min-width: 200px;
  }
  div.header-nav-container ul#primary-menu > li.menu-item > ul.sub-menu li.menu-item a {
    flex-wrap: nowrap;
    min-width: auto;
  }
  div.header-nav-container ul#primary-menu > li.menu-item:nth-last-of-type(2) {
    margin-left: auto;
    justify-self: end;
  }
}
/*===========================HEADER=================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 29px 0 16px;
}
header.page-header {
  display: block;
}
header .woo-shop-button,
header .menu-toggle {
  display: block;
}
header .site-logo {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
}
@media only screen and (min-width: 1000px) {
  header {
    display: block;
    padding: 0;
  }
  header .menu-toggle,
  header .woo-shop-button {
    display: none;
  }
  header .site-title {
    visibility: hidden;
    height: 0;
  }
  header .site-logo {
    visibility: visible;
    height: auto;
    width: 50px;
    object-fit: cover;
  }
}

/*===========================ACF FILED GROUP=================================*/
/*
The .acf-gallery is for the gallery section of the parish organization and committee acf post types
*/
.acf-gallery {
  display: flex;
  flex-flow: row wrap;
}
.acf-gallery img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  flex: 1 1 33.33%;
}
.acf-gallery img:first-child {
  flex: 1 1 100%;
}
@media only screen and (min-width: 1000px) {
  .acf-gallery img {
    flex: 1 1 25%;
  }
}

.comment-list {
  display: flex;
  flex-flow: row wrap;
}
.comment-list .committee-member {
  flex: auto;
}

/*===========================NAVIGATION=================================*/
ul#primary-menu {
  background: white;
  display: none;
}
ul#primary-menu > li.menu-item {
  color: #111933;
  background-color: rgba(245, 245, 245, 0.77);
  display: block;
  float: left;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  z-index: 900;
}
ul#primary-menu > li.menu-item:hover, ul#primary-menu > li.menu-item:focus-within {
  cursor: pointer;
}
ul#primary-menu > li.menu-item:focus-within a {
  outline: none;
}
ul#primary-menu > li.menu-item:hover > ul.sub-menu, ul#primary-menu > li.menu-item:focus-within > ul.submenu {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: inherit;
}
ul#primary-menu > li.menu-item > ul.sub-menu {
  background: rgba(245, 245, 245, 0.77);
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  transition: all 0.5s ease;
  margin-top: 1rem;
  padding: 8px 16px;
  left: 0;
  display: none;
}
ul#primary-menu > li.menu-item > ul.sub-menu:hover > li, ul#primary-menu > li.menu-item > ul.sub-menu:focus > li {
  visibility: visible;
  opacity: 1;
  display: block;
  width: 100%;
  z-index: inherit;
}
ul#primary-menu > li.menu-item > ul.sub-menu > li {
  clear: both;
  width: 100%;
  padding: 8px 16px;
}
#site-navigation.toggled ul#primary-menu {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
#site-navigation.toggled ul#primary-menu ul.sub-menu > li.menu-item {
  padding-left: 24px;
  margin-top: 4px;
}

/*===========================END OF NAVIGATION=================================*/
/* those reusable component like stuff that accept variables */
/*
About Us Page Styling

delete any unused styles after
*/
section#post-84 {
  background-color: #fff;
}

/* those reusable component like stuff that accept variables */
/*
Archive Page Styling

delete any unused styles after
*/
section.archive {
  background-color: #fff;
}

/* those reusable component like stuff that accept variables */
/*
Contact Us Page Styling

delete any unused styles after
*/
section#post-85 {
  background-color: #fff;
}

/* those reusable component like stuff that accept variables */
/*
Front Page Styling

delete any unused styles after
*/
main.front-page {
  /* Hero Banner Section*/
  /* End of Hero Banner Section*/
  /*--------------------------Welcome to our Church Section------------------------------*/
  /*--------------------------Upcoming Events Section------------------------------*/
  /*--------------------------Explore Our Church Group Section------------------------------*/
  /*---------------------------Membership Section------------------------------*/
}
main.front-page * {
  margin-bottom: 1.5rem;
}
main.front-page > section:not(.hero-banner) {
  max-width: 1248px;
  margin: 0 auto;
  background-color: white;
  padding: 1.5rem 1rem;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page > section:not(.hero-banner) {
    padding: 1.5rem 2.25rem;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page > section:not(.hero-banner) {
    padding: 1.5rem 2.25rem;
  }
}
main.front-page .hero-banner {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 1rem;
  background-color: transparent;
  height: calc(100vh - 100px);
  color: #F5F5F5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .hero-banner {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .hero-banner {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
main.front-page .hero-banner > * {
  grid-column: 1/-1;
}
main.front-page .hero-banner h2 {
  font-size: clamp(1.5rem, 0.6379rem + 4.3103vw, 4rem);
  font-weight: 600;
  line-height: 1.3;
}
main.front-page .hero-banner p:first-of-type {
  font-size: clamp(1rem, 0.4828rem + 2.5862vw, 2.5rem);
}
main.front-page .hero-banner p:last-of-type {
  font-size: clamp(0.875rem, 0.4871rem + 1.9397vw, 2rem);
  font-weight: 500;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .hero-banner {
    padding: 0 36px;
  }
  main.front-page .hero-banner p:last-of-type,
  main.front-page .hero-banner a {
    grid-column: 10/span 3;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .hero-banner {
    padding: 0 36px;
  }
  main.front-page .hero-banner p:last-of-type,
  main.front-page .hero-banner a {
    grid-column: 10/span 3;
  }
}
main.front-page .weekly-highlights > div {
  color: #2F3456;
  border: 1px solid #EFC275;
  background-color: transparent;
  border-radius: 4px;
  padding: 14px 24px;
  width: 100%;
}
main.front-page .weekly-highlights > div h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 500;
}
main.front-page .weekly-highlights > div p {
  font-size: clamp(0.875rem, 0.7024rem + 0.8628vw, 1.5rem);
}
main.front-page .welcome {
  position: relative;
  padding: 0 16px;
  color: #F5F5F5 !important;
  background-color: rgba(41, 73, 30, 0.7) !important;
  margin-bottom: 0;
  max-width: 1248px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .welcome {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .welcome {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
main.front-page .welcome > * {
  grid-column: 1/-1;
}
main.front-page .welcome > div:first-of-type {
  z-index: 12;
}
main.front-page .welcome > div:first-of-type section {
  /* end of church location */
  /* end of church hours section */
}
main.front-page .welcome > div:first-of-type section > div:first-of-type {
  color: #F5F5F5;
  border: 1px solid #EFC275;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 24px;
}
main.front-page .welcome > div:first-of-type section > div:last-of-type ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
main.front-page .welcome > div:first-of-type section > div:last-of-type ul li {
  color: #F5F5F5;
  border: none;
  background-color: #29491E;
  border-radius: 4px;
  padding: 8px 24px;
  grid-column: span 2;
  font-size: clamp(0.875rem, 0.7024rem + 0.8628vw, 1.5rem);
}
main.front-page .welcome > div:first-of-type section > div:last-of-type ul li time {
  display: block;
  font-weight: 700;
  font-size: clamp(1.25rem, 0.9914rem + 1.2931vw, 2rem);
}
main.front-page .welcome > section {
  z-index: 12;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .welcome > div {
    grid-column: span 6;
  }
  main.front-page .welcome > div ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
  main.front-page .welcome > div ul li {
    grid-column: span 3;
  }
  main.front-page .welcome section {
    grid-column: span 6;
  }
  main.front-page .welcome section a {
    grid-column: span 3;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .welcome > div {
    grid-column: span 6;
  }
  main.front-page .welcome > div ul {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
  main.front-page .welcome > div ul li {
    grid-column: span 3;
  }
  main.front-page .welcome section {
    grid-column: span 6;
  }
  main.front-page .welcome section a {
    grid-column: span 3;
  }
}
main.front-page .upcoming-events {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .upcoming-events {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .upcoming-events {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
main.front-page .upcoming-events > * {
  grid-column: 1/-1;
}
main.front-page .upcoming-events .events-list .event-item {
  position: relative;
}
main.front-page .upcoming-events .events-list .event-item .date {
  width: 3.375rem;
  height: 4.875rem;
  display: flex;
  flex-flow: column wrap;
  background-color: #EFC275;
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
}
main.front-page .upcoming-events .events-list .event-item .date .event-day {
  font-family: "Frank Ruhl Libre", serif;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .upcoming-events .events-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
  main.front-page .upcoming-events .events-list .event-item {
    grid-column: span 3;
  }
  main.front-page .upcoming-events .events-list a {
    grid-column: 10/span 3;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .upcoming-events .events-list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
  main.front-page .upcoming-events .events-list .event-item {
    grid-column: span 3;
  }
  main.front-page .upcoming-events .events-list a {
    grid-column: 10/span 3;
  }
}
main.front-page .upcoming-events + section {
  padding: clamp(1rem, 0.6721rem + 1.6393vw, 2.1875rem);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .upcoming-events + section {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .upcoming-events + section {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
main.front-page .upcoming-events + section > * {
  grid-column: 1/-1;
}
main.front-page .upcoming-events + section hr {
  border: 3px solid #D79A32;
  grid-column: span 2;
}
main.front-page .upcoming-events + section .organization-card-link {
  display: block;
  text-decoration: none;
}
main.front-page .upcoming-events + section .organization-card {
  position: relative;
  width: 100%;
  height: 233px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 4px 11.3px 4px 0 rgba(73, 11, 5, 0.12);
}
main.front-page .upcoming-events + section .organization-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
main.front-page .upcoming-events + section .organization-card-title {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 106px 187px 15px 15px;
  color: #F5F5F5;
  font-size: clamp(1.25rem, 0.819rem + 2.1552vw, 2.5rem);
  font-weight: 700;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .upcoming-events + section div.parish-organization-list {
    order: 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
  main.front-page .upcoming-events + section div.parish-organization-list > * {
    grid-column: span 4;
  }
  main.front-page .upcoming-events + section a {
    grid-column: span 3;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .upcoming-events + section div.parish-organization-list {
    order: 3;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
  main.front-page .upcoming-events + section div.parish-organization-list > * {
    grid-column: span 4;
  }
  main.front-page .upcoming-events + section a {
    grid-column: span 3;
  }
}
main.front-page .membership {
  position: relative;
  color: #111933;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .membership {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .membership {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
main.front-page .membership > * {
  grid-column: 1/-1;
  z-index: 2;
}
main.front-page .membership .membership-options section {
  color: #111933;
  border: 1px solid #EFC275;
  background-color: transparent;
  border-radius: 4px;
  padding: 8px 24px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .membership {
    grid-template-rows: 1fr auto;
  }
  main.front-page .membership > div:first-child {
    grid-column: 1/span 4;
    order: -2;
    grid-row: 1/span 1;
  }
  main.front-page .membership .button-container {
    grid-column: 1/span 4;
    grid-row: 2/-1;
    order: -1;
  }
  main.front-page .membership .membership-options {
    grid-column: 5/span 4;
    grid-row: 1/-1;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .membership {
    grid-template-rows: 1fr auto;
  }
  main.front-page .membership > div:first-child {
    grid-column: 1/span 4;
    order: -2;
    grid-row: 1/span 1;
  }
  main.front-page .membership .button-container {
    grid-column: 1/span 4;
    grid-row: 2/-1;
    order: -1;
  }
  main.front-page .membership .membership-options {
    grid-column: 5/span 4;
    grid-row: 1/-1;
  }
}
main.front-page div.membership-overlay {
  position: absolute;
  background-color: rgba(239, 194, 117, 0.45) !important;
  top: 0;
  left: -1rem;
  right: -2rem;
  bottom: 0;
  z-index: 1;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page div.membership-overlay {
    grid-column: 1/span 8;
    left: -2.25rem;
    right: -2.25rem;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page div.membership-overlay {
    grid-column: 1/span 8;
    left: -2.25rem;
    right: -2.25rem;
  }
}
main.front-page .donation {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .donation {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .donation {
    grid-template-columns: repeat(12, 1fr);
    gap: 24px;
  }
}
main.front-page .donation > *:not(hr) {
  grid-column: 1/-1;
}
main.front-page .donation hr {
  border: 3px solid #D79A32;
  grid-column: span 2;
}
@media only screen and (min-width: 768px) and (max-width: 999px) {
  main.front-page .donation hr {
    grid-column: 9/span 3;
  }
  main.front-page .donation > div {
    grid-column: 9/span 4;
  }
}
@media only screen and (min-width: 1000px) {
  main.front-page .donation hr {
    grid-column: 9/span 3;
  }
  main.front-page .donation > div {
    grid-column: 9/span 4;
  }
}

/*===========================END OF FRONT PAGE=================================*/
/* those reusable component like stuff that accept variables */
/*
Livestream Page Styling

delete any unused styles after
*/
section#post-72 {
  background-color: #fff;
}

/* those reusable component like stuff that accept variables */
/*
Membership Sign Up Page Styling

delete any unused styles after
*/
section#post-86 {
  background-color: #fff;
}

/* those reusable component like stuff that accept variables */
/*
Single Parish Committee Page Styling

delete any unused styles after
*/
section.parish-committee {
  background-color: #fff;
}

/* those reusable component like stuff that accept variables */
/*
Single Parish Organization Page Styling

delete any unused styles after
*/
section.parish-organization {
  background-color: #fff;
}

/* those reusable component like stuff that accept variables */
/*
Shop Page Styling

delete any unused styles after
*/
section#post-77 {
  background-color: #fff;
}

/* those reusable component like stuff that accept variables */
/*
Spiritual Resources Page Styling

delete any unused styles after
*/
section#post-76 {
  background-color: #fff;
}

/* those reusable component like stuff that accept variables */
/*
Worship Services Page Styling

delete any unused styles after
*/
section#post-74 {
  background-color: #fff;
}

/*
make the iframe or embedded video responsive
*/
.responsive-iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}

.full-width-button {
  text-align: center;
  width: 100%;
}

/*
the class .sr-only has been added here just in case, but the starter theme has a built-in feature:

		<span class="screen-reader-text"><?php esc_html_e('Shop Button', 'st_philip'); ?></span>
*/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*# sourceMappingURL=style.css.map */
