/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

/*
This is where we style our header navigation
*/
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  div.header-nav-container {
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 1rem 0.5rem;
    max-width: 1248px;
    margin: 0 auto;
  }
  div.header-nav-container ul#primary-menu {
    display: flex;
    flex-flow: row nowrap;
  }
  div.header-nav-container ul#primary-menu > li.menu-item {
    position: relative;
  }
  div.header-nav-container ul#primary-menu > li.menu-item > ul.sub-menu {
    position: absolute;
    top: 20px;
    left: -8px;
    z-index: 1000;
    min-width: 200px;
  }
  div.header-nav-container ul#primary-menu > li.menu-item > ul.sub-menu li.menu-item a {
    flex-wrap: nowrap;
    min-width: auto;
  }
  div.header-nav-container ul#primary-menu > li.menu-item:nth-last-of-type(2) {
    margin-left: auto;
    justify-self: end;
  }
}
@media only screen and (min-width: 1280px) {
  div.header-nav-container {
    display: grid;
    grid-template-columns: 80px 1fr;
    padding: 1rem 0.5rem;
    max-width: 1248px;
    margin: 0 auto;
  }
  div.header-nav-container ul#primary-menu {
    display: flex;
    flex-flow: row nowrap;
  }
  div.header-nav-container ul#primary-menu > li.menu-item {
    position: relative;
  }
  div.header-nav-container ul#primary-menu > li.menu-item > ul.sub-menu {
    position: absolute;
    top: 20px;
    left: -8px;
    z-index: 1000;
    min-width: 200px;
  }
  div.header-nav-container ul#primary-menu > li.menu-item > ul.sub-menu li.menu-item a {
    flex-wrap: nowrap;
    min-width: auto;
  }
  div.header-nav-container ul#primary-menu > li.menu-item:nth-last-of-type(2) {
    margin-left: auto;
    justify-self: end;
  }
}
/*===========================HEADER=================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header.page-header {
  display: block;
}
header .woo-shop-button,
header .menu-toggle {
  display: block;
}
header .site-logo {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  header {
    display: block;
  }
  header .menu-toggle,
  header .woo-shop-button {
    display: none;
  }
  header .site-title {
    visibility: hidden;
    height: 0;
  }
  header .site-logo {
    visibility: visible;
    height: auto;
    width: 50px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1280px) {
  header {
    display: block;
  }
  header .menu-toggle,
  header .woo-shop-button {
    display: none;
  }
  header .site-title {
    visibility: hidden;
    height: 0;
  }
  header .site-logo {
    visibility: visible;
    height: auto;
    width: 50px;
    object-fit: cover;
  }
}

/*===========================ACF FILED GROUP=================================*/
/*
The .acf-gallery is for the gallery section of the parish organization and committee acf post types
*/
.acf-gallery {
  display: flex;
  flex-flow: row wrap;
}
.acf-gallery img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  flex: 1 1 33.33%;
}
.acf-gallery img:first-child {
  flex: 1 1 100%;
}
@media only screen and (min-width: 1280px) {
  .acf-gallery img {
    flex: 1 1 25%;
  }
}

.comment-list {
  display: flex;
  flex-flow: row wrap;
}
.comment-list .committee-member {
  flex: auto;
}

/*===========================NAVIGATION=================================*/
ul#primary-menu {
  background: white;
  display: none;
}
ul#primary-menu > li.menu-item {
  color: black;
  background: white;
  display: block;
  float: left;
  padding: 8px 16px;
  position: relative;
  text-decoration: none;
  transition-duration: 0.5s;
  z-index: 900;
}
ul#primary-menu > li.menu-item:hover, ul#primary-menu > li.menu-item:focus-within {
  cursor: pointer;
}
ul#primary-menu > li.menu-item:focus-within a {
  outline: none;
}
ul#primary-menu > li.menu-item:hover > ul.sub-menu, ul#primary-menu > li.menu-item:focus-within > ul.submenu {
  visibility: visible;
  opacity: 1;
  display: block;
  z-index: inherit;
}
ul#primary-menu > li.menu-item > ul.sub-menu {
  background: white;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  transition: all 0.5s ease;
  margin-top: 1rem;
  padding: 8px 16px;
  left: 0;
  display: none;
}
ul#primary-menu > li.menu-item > ul.sub-menu:hover > li, ul#primary-menu > li.menu-item > ul.sub-menu:focus > li {
  visibility: visible;
  opacity: 1;
  display: block;
  width: 100%;
  z-index: inherit;
}
ul#primary-menu > li.menu-item > ul.sub-menu > li {
  clear: both;
  width: 100%;
  padding: 8px 16px;
}
#site-navigation.toggled ul#primary-menu {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}
#site-navigation.toggled ul#primary-menu ul.sub-menu > li.menu-item {
  padding-left: 24px;
  margin-top: 4px;
}

/*===========================END OF NAVIGATION=================================*/
/**
This is where we styles hero banner for the homepage
*/
/*
This is where we style our footer
*/
.site-footer {
  background-color: black;
  color: white;
}
.site-footer > div {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  max-width: 1248px;
  margin: 0 auto;
  padding: 112px 0;
  /* 
  Footer Section Styling
  */
  /*
  Footer Navigation Styling 
  */
}
.site-footer > div .site-branding {
  text-align: center;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.site-footer > div .site-branding a {
  display: inline-block;
}
.site-footer > div .site-branding .footer-title {
  display: block;
}
.site-footer > div .site-branding .site-logo {
  width: 50px;
  height: 50px;
}
.site-footer > div .site-branding .footer-church-info {
  background-color: #3D4149;
  margin: 32px 0 0;
  padding: 2rem;
  width: 100%;
  font-size: 20px;
}
.site-footer > div .site-branding .footer-church-info h3 {
  text-align: center;
  font-weight: 700;
}
.site-footer > div .site-branding .footer-church-info .church-hours {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 28px;
  gap: 2rem;
}
.site-footer > div .site-branding .footer-church-info .church-hours div {
  flex: 1;
  border: 1px solid white;
  padding: 1rem 1.5rem;
  border-radius: 4px;
}
.site-footer > div .site-branding .footer-church-info .church-hours div span {
  font-weight: 600;
}
.site-footer > div .site-branding .footer-church-info .church-hours div small {
  display: block;
  font-size: 14px;
}
.site-footer > div .site-branding .footer-church-info .church-hours .church-location {
  color: #E9EDF6;
  font-weight: 600;
  text-align: center;
}
.site-footer > div .footer-navigation #footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.site-footer > div .footer-navigation #footer-menu li.menu-item {
  padding: 8px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .site-footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    padding: 112px 48px;
  }
  .site-footer > div .site-branding {
    justify-content: center;
    align-items: start;
  }
  .site-footer > div .site-branding .orthodox {
    margin-left: -2ch;
  }
  .site-footer > div .footer-navigation {
    padding: 0 0;
  }
}
@media only screen and (min-width: 1280px) {
  .site-footer > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    padding: 112px 48px;
  }
  .site-footer > div .site-branding {
    justify-content: center;
    align-items: start;
  }
  .site-footer > div .site-branding .orthodox {
    margin-left: -2ch;
  }
  .site-footer > div .footer-navigation {
    padding: 0 0;
  }
}

/*
the class .sr-only has been added here just in case, but the starter theme has a built-in feature:

		<span class="screen-reader-text"><?php esc_html_e('Shop Button', 'st_philip'); ?></span>
*/
.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

/*
This is the universal style for the buttons
*/
a.fake-button {
  display: inline-block;
  background-color: blue !important;
  padding: 1rem 2rem !important;
  color: white;
  cursor: pointer;
}

/*===========================TYPOGRAPHY=================================*/
h1,
.site-title {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

a:hover {
  color: pink;
}

/*===========================UNIVERSAL STYLE=================================*/
body {
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 24px;
}
body main {
  background-color: rgb(184, 238, 223);
}

/*# sourceMappingURL=style.css.map */
