// this is where we put colors 
// this is color variable to start with
$text-primary-color: white;
$text-danger-color:white;


// header color pallette
$header-background-color: white;
$header-text-color: black;
// header anchor
$anchor-hover-color: white;
$anchor-hover-bg-color: black;



//footer color pallette
$footer-background-color: black;
$footer-text-color: white;

$church-info-background-color: rgb(170, 165, 165, 0.4);
$church-location-text-color: darkgray;