// this will include all related font, the values is just for testing

$font-family: 'Open Sans';

// font-sizes
$p-font-size: 24px;
$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 30px;



// font-weights
$font-weight-regular: 400;
$font-weight-medium-bold: 600;
$font-weight-bold: 700;