// this will include all the media queries 


$mobile-res-min-width: 320px;
$tablet-res-min-width: 768px;
$desktop-res-min-width: 1024px;

@mixin forScreenSizesMin($deviceType){
  @if $deviceType == phone {
    @media only screen and (min-width: $mobile-res-min-width){
      @content;
    }
    @media only screen and (min-width: $mobile-res-min-width){
      @content;
    }
    @media only screen and (min-width: $mobile-res-min-width){
      @content;
    }
  }


}