// this will include all the media queries 


$mobile-res-min-width: 320px;
$tablet-res-min-width: 500px;
$desktop-res-min-width: 1024px;

@mixin forScreenSizesMin($deviceTypes...) {
  @each $deviceType in $deviceTypes {
    @if $deviceType == phone {
      @media only screen and (max-width: $tablet-res-min-width - 1px) {
        @content;
      }
    }
    @if $deviceType == tablet {
      @media only screen and (min-width: $tablet-res-min-width) and (max-width: $desktop-res-min-width - 1px) {
        @content;
      }
    }
    @if $deviceType == desktop {
      @media only screen and (min-width: $desktop-res-min-width) {
        @content;
      }
    }
  }
}



// we can add forScreenSizeMax etc 