// this file will contain reusable pieces of code 
// you can include, height, width

@mixin widthHeight($width, $height){
  width: $width;
  height: $height;
}

@mixin margin($y, $x){
  margin: $y $x;
}

@mixin padding($y, $x){
  margin: $y $x;
}

@mixin maxWidth($x){
  max-width: $x;
}

@mixin logoDimensions($width, $height){
  width: $width;
  height: $height;
}
