// this will include all related font, the values is just for testing

$font-family: 'Inter', sans-serif;

// font-sizes
$p-font-size: 24px;
$h1-font-size: 40px;
$h2-font-size: 32px;
$h3-font-size: 30px;


// line-height:
$line-height-base: 1.5;

// font-weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-medium-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;

// footer church info
$footer-church-info-font-size: 20px;