/*
This is where we style our footer
*/

@use "../base/colors" as *;
@use "../base/media-queries" as *;
@use "../base/mixins" as *;
@use "../base/variables" as *;
@use "../base/typography" as *;

.site-footer {
  background-color: rgba(41,73, 30, 0.7);
  color: $white;

  > div {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 112px 0;
    @include maxWidthCentered(1248px);
  

    /* 
  Footer Section Styling
  */
    .site-branding {
      text-align: center;
      display: flex;
      flex-flow: column wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
     
      a {
        display: inline-block;
      }

      .footer-title {
        display: block;
      }

      .site-logo {
        @include logoDimensions(50px, 50px);
      }

      // footer church info div
      .footer-church-info {
        background-color: transparent;
        margin: 32px 0 0;
        padding: 2rem;
        min-width: 320px;
       

        h3 {
          text-align: center;
          font-weight: $font-weight-bold;
        }

        .church-hours {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 20px 0 28px;
          gap: 2rem;

          div {
            flex: 1;
            @include card($padding: 4px 24px);

            span {
              font-weight: $font-weight-medium-bold;
            }

            small {
              display: block;
            }
          }

          .church-location {
            font-weight: $font-weight-light;
            text-align: center;
          }
        }
      }
    }

    /*
  Footer Navigation Styling 
  */
    .footer-navigation {
      // width: 100%;
      #footer-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;

        li.menu-item {
          padding: 8px;
        }
      }
    }

    @include forScreenSizes(tablet, desktop) {
      &{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4vw;
      padding: 112px 48px;

      .site-branding {
        justify-content: center;
        align-items: start;

        // i just did this coz i can't figure out how to align the orthodox with st.philip
        .orthodox {
          margin-left: -2ch;
        }
      }

      .footer-navigation {
        padding: 0;
      }
    }
    }
  }
}
