@use '../base/colors' as *;
@use '../base/media-queries' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;

.header-nav-container {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.75rem 1rem;
  margin: 1rem;
  border-radius: 8px;
  position: relative;
  transition: border-radius 0.3s ease;

  &.menu-hovered {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  @include forScreenSizes(desktop) {
    padding: 1rem 2rem;
  }
}

.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.site-logo {
  width: 48px;
  height: auto;
  margin-right: 2rem;
  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

.site-title {
  display: none;
}

.main-navigation {
  ul#primary-menu {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0 2rem;

    li.menu-item {

      a {
        font-family: $body-font-family;
        text-decoration: none;
        color: $primary-blue;
        font-weight: 500;
        display: inline-block;
        position: relative;
        white-space: nowrap;
      }

      .dropdown-wrapper {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        min-width: 600px;
        max-width: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        opacity: 0%;
        pointer-events: none;
        transition: opacity 0.3s ease, transform 0.3s ease;

        background-color: rgba(255, 255, 255, 0.8);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 0 4rem;
        border-radius: 0 0 8px 8px;
        z-index: 1000;

        ul.sub-menu {
          text-align: start;
          display: flex;
          flex-direction: column;
          list-style: none;
          margin: 0;
          padding: 0;

          li {
            white-space: nowrap;
          }
        }
      }


      &:hover > .dropdown-wrapper,
      &:focus-within > .dropdown-wrapper {
        opacity: 1;
        pointer-events: auto;
      }


    }
  }

}

div.header-nav-container ul#primary-menu > li.menu-item:nth-last-of-type(2){
  grid-column: 8 / span 1;
  text-align: end;
}
div.header-nav-container ul#primary-menu > li.menu-item:nth-last-of-type(1) > a {
  font-weight: bold;
}