// main-colors

$main-yellow: #EFC275;
$main-red: #5D1207;
$main-green: #475841;

// accents
$accent-green: #29491E;
$accent-red: #781100;
$accent-yellow: #D79A32;

// shades of blue
$primary-blue: #111933;
$secondary-blue: #2F3456;
$tertiary-blue: #9194A8;

// shades of white
$light: #E2E2E2;
$accent-white: #F5F5F5;
$white: white;









