// this will include all related font, the values is just for testing
// i use this clamp generator with min vieport width at 320px and max at 1000px
// https://clamp.font-size.app/?config=eyJyb290IjoiMTYiLCJtaW5XaWR0aCI6IjMyMHB4IiwibWF4V2lkdGgiOiIxMjQ4cHgiLCJtaW5Gb250U2l6ZSI6IjE0cHgiLCJtYXhGb250U2l6ZSI6IjE2cHgifQ%3D%3D


$heading-font-family: 'Frank Ruhl Libre', serif;
$body-font-family: 'Alegreya Sans', sans-serif;


// NOTE: I gave up on making mixin for dynamically computing the line-height so im inputting it manually on font-size generator and using it for clamping the lineheight.

// hero-banner shop p
$font14-to-font32: clamp(0.875rem, 0.3456rem + 2.6471vw, 2rem);
$line-height-14-32: clamp(1.5rem, 1.1471rem + 1.7647vw, 2.25rem); /* from 24px to 36px */
// font-weight: 500;

// this is the anchor tag clamp
$font16-to-font20: clamp(1rem, 0.8824rem + 0.5882vw, 1.25rem);
$line-height-16-20: 1.5rem; /* 24px since both are below 24px */
// font-weight: bold

// this is the p tag clamp
$font16-to-font24: clamp(1rem, 0.7647rem + 1.1765vw, 1.5rem);
$line-height-16-24: clamp(1.5rem, 1.1471rem + 1.7647vw, 2.25rem);/* from 24 to 36px */


// h3
$font16-to-font32: clamp(1rem, 0.5294rem + 2.3529vw, 2rem);
$line-height-16-32: clamp(1.5rem, 1.1471rem + 1.7647vw, 2.25rem);

// tagline clamp
$font16-to-font40: clamp(1rem, 0.2941rem + 3.5294vw, 2.5rem);
$line-height-16-40: clamp(1.5rem, 0.7941rem + 3.5294vw, 3rem);/* from 24px to 48px */
// font-weight: regular
// font-style: italic
// line-height: 1.2

// hero banner clamp
$font24-to-font64: clamp(1.5rem, 0.3235rem + 5.8824vw, 4rem);
$line-height-24-64: clamp(1.5rem, 0.0882rem + 7.0588vw, 4.5rem); /* from 24px to 72px */
// font-weight: 600

$font24-to-font96: clamp(1.5rem, -0.6176rem + 10.5882vw, 6rem);
$line-height-24-96: clamp(1.5rem, -0.9706rem + 12.3529vw, 6.75rem); /* from 24 to 108px */

// for the church hour subtitle
$font14-to-font24: clamp(0.875rem, 0.5809rem + 1.4706vw, 1.5rem);
$line-height-14-24: clamp(1.5rem, 1.1471rem + 1.7647vw, 2.25rem);/* from 24 to 36px */

$font20-to-font32: clamp(1.25rem, 0.8971rem + 1.7647vw, 2rem);
$line-height-20-32: clamp(1.5rem, 1.1471rem + 1.7647vw, 2.25rem); /* from 24 to 36px */

$font20-to-font40: clamp(1.25rem, 0.6618rem + 2.9412vw, 2.5rem);
$line-height-20-40: clamp(1.5rem, 0.7941rem + 3.5294vw, 3rem); /* from 24 to 48px */


// line-height:
$base-line-height: 1.5rem;



// font-weights
$font-weight-thin: 100;
$font-weight-extra-light: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-medium-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;
$font-weight-black: 900;


// OUR SPACING IS IN MULTIPLES OF 24PX/1.5rem
