@use "./partials/colors" as *;
@use "./partials/fonts" as *;
@use "./partials/variables" as *;
@use "./partials/mixins" as *;

body{
  background-color: $text-primary-color;
  font-family: $font-family;
  font-size: $p-font-size;
}