.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a.fake-button {
  display: inline-block;
  background-color: blue !important;
  padding: 1rem 2rem !important;
  color: white;
  cursor: pointer;
}

body {
  background-color: white;
  font-family: "Open Sans";
  font-size: 16px;
  max-width: 1248px;
  margin: 0 auto;
}
body main {
  background-color: rgb(184, 238, 223);
}

h1, .site-title {
  font-size: 40px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 30px;
  font-weight: 600;
}

a:hover {
  color: pink;
}

header {
  display: flex;
  justify-content: space-between;
}
header.page-header {
  display: block;
}
header .menu-toggle {
  width: 50px;
  height: 50px;
  background: pink;
}

.woo-shop-button{
  display: block;
}

#masthead{
  position: relative;
}


ul#primary-menu{
  position: absolute;
  top: 50;
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  header {
    flex-flow: column wrap;
    align-items: center;
  }
  header .menu-toggle, .woo-shop-button {
    display: none;
  }
}
@media only screen and (min-width: 1280px) {
  header {
    flex-flow: column wrap;
    align-items: center;
  }
  header .menu-toggle {
    display: none;
  }
}

.acf-gallery {
  display: flex;
  flex-flow: row wrap;
}
.acf-gallery img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  flex: 1 1 33.33%;
}
.acf-gallery img:first-child {
  flex: 1 1 100%;
}
@media only screen and (min-width: 1280px) {
  .acf-gallery img {
    flex: 1 1 25%;
  }
}

.comment-list {
  display: flex;
  flex-flow: row wrap;
}
.comment-list .committee-member {
  flex: auto;
}

#primary-menu{
  display: none;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  #primary-menu {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
  #primary-menu li.menu-item {
    position: relative;
  }
  #primary-menu li.menu-item > ul.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 10px;
  }
  #primary-menu li.menu-item > ul.sub-menu li:not(last-of-type) {
    border-bottom: 1px solid black;
  }
  #primary-menu li.menu-item:hover > ul.sub-menu, #primary-menu li.menu-item:focus-within > ul.sub-menu {
    display: block;
    width: max-content;
    flex-wrap: nowrap;
  }
}
@media only screen and (min-width: 1280px) {
  #primary-menu {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
  }
  #primary-menu li.menu-item {
    position: relative;
  }
  #primary-menu li.menu-item > ul.sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    list-style: none;
    padding: 10px;
  }
  #primary-menu li.menu-item > ul.sub-menu li:not(last-of-type) {
    border-bottom: 1px solid black;
  }
  #primary-menu li.menu-item:hover > ul.sub-menu, #primary-menu li.menu-item:focus-within > ul.sub-menu {
    display: block;
    width: max-content;
    flex-wrap: nowrap;
  }
}

#site-navigation.toggled #primary-menu {
  display: block;
}

footer .site-branding {
  text-align: center;
}
footer .site-branding a {
  display: inline-block;
}
footer #footer-menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  footer #footer-menu {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1280px) {
  footer #footer-menu {
    grid-template-columns: repeat(4, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
