// This is the default 404 error page styles

// Importing base modules
@use '../base/colors' as *;         // Colors for the site (e.g., $accent-white)
@use '../base/media-queries' as *;  // Media queries for responsive design
@use '../base/mixins' as *;         // Mixins to reuse code (e.g., centering, margins)
@use '../base/typography' as *;     // Typography settings (fonts, text sizes)
@use '../base/variables' as *;      // Variables (e.g., $mainSectionBorderRadius)

// Styling for the 404 error section


section.error-404{
  background-color: $accent-white;
  padding: $responsiveSectionPadding;
  border-radius: $mainSectionBorderRadius;
  @include maxWidthCentered($maxWidth);
  @include childMarginBottom;
  &{
    margin: $sectionMargin;
  }

}