/*
Archive Page Styling

delete any unused styles after
*/

// base
@use "../base/colors" as *;
@use "../base/media-queries" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;
@use "../base/variables" as *;
// components
@use "../components/button" as *;
@use "../components/card" as *;

// this is the about us wrapper id
section.organization-archive {
  background-color: $accent-white;
  margin: 2rem auto !important;
  padding: $mobileGridPadding;
  @include maxWidthCentered($maxWidth);
  @include grid;
  @include childGridSpan;

  & {
    header {
      margin-bottom: $base-line-height;
    }

    grid-template-rows: repeat(8, 1fr);

    section {
      background-color: $accent-white;
    }

  }

  @include forScreenSizes(tablet, desktop) {
    grid-template-rows: repeat(3, auto);
    padding: $desktopGridPadding;

    > div {
      grid-column: 1 / span 6;
    }

    > section:first-of-type {
      grid-row: 1 / span 1;
      grid-column: 7 / span 6;
      align-self: start;
    }

    > section:not(:first-of-type) {
      grid-column: span 4;
    }
  }
}
