/*
Shop Page Styling

delete any unused styles after
*/

// base
@use "../base/colors" as *;
@use "../base/media-queries" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;
@use "../base/variables" as *;
// components
@use "../components/button" as *;


// this is the shop wrapper id
/* Styling for Shop Page */
section#cart-page {
  background-color: $accent-white;
  // padding: $responsiveSectionPadding;
  // margin: $sectionMargin !important;
  border-radius: $mainSectionBorderRadius;
  font-size: $font16-to-font24;
  line-height: $line-height-16-24;
  @include maxWidthCentered($maxWidth);
  &{
    margin: $sectionMargin;
  }

  h2:last-of-type:not(.is-large.wc-block-cart .wc-block-cart__totals-title) {
    margin-top: 2rem;
    text-align: left;
  }

  a.wc-block-cart__submit-button{
    @include button;
  }

  .wp-block-button__link {
    @include button;

    padding: 8px 31px;
  }

  @include forScreenSizes (tablet, desktop){

    .wc-block-grid__products {
      margin-top: 1rem;
    }

    .wc-block-grid__product {
      display: flex;
      flex-direction: column;

      div:last-of-type {
        margin-top: auto;
      }
  }
  }

}
