/*
Shop Page Styling

delete any unused styles after
*/

// base
@use "../base/colors" as *;
@use "../base/media-queries" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;
@use "../base/variables" as *;
// components
@use "../components/button" as *;


// this is the shop wrapper id
/* Styling for Shop Page */
section#checkout-page {
  background-color: $accent-white;
  // padding: $responsiveSectionPadding;
  // margin: $sectionMargin !important;
  border-radius: $mainSectionBorderRadius;
  font-size: $font16-to-font24;
  line-height: $line-height-16-24;
  @include maxWidthCentered($maxWidth);
  &{
    margin: $sectionMargin;
  }

  

  div.wp-block-woocommerce-checkout-order-summary-block{
     @include card($background-color: $white, $color: $primary-blue, $border: 1px solid hsla(0,0%,7%,.11));
  }

  button.wc-block-components-checkout-place-order-button{
    span{
      justify-self: center;
    }
    @include button;
  }

  input, select{
    border-color: rgba(18, 18, 18, 0.11);
  }



}
