/*
Donation Page Styling
*/

// base
@use '../base/colors' as *;
@use '../base/media-queries' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;
@use '../base/variables' as *;
// components
@use '../components/button' as *;


// this is the about us wrapper id
section#donation-page{
  background-color: $accent-white;
  padding: $responsiveSectionPadding;
  // margin: $sectionMargin !important;
  border-radius: $mainSectionBorderRadius;
  @include maxWidthCentered($maxWidth);
  &{
    margin: $sectionMargin;
  }

  div.entry-content{
    @include childMarginBottom;

    .donation-info{

      .main-info{
      @include card($color: $primary-blue, $background-color: $light-yellow, $border: none);
      @include childMarginBottom;

      padding-bottom: 1rem;
      margin-bottom: 1.5rem;

     }

      p {
        margin-bottom: 1rem;
      }
    }

    @include forScreenSizes(desktop){
        @include gridContainer($column-gap: 24px);
        &{
          grid-template-rows: auto 1fr;
        }

        .page-featured-image{
          grid-column: 1 / span 8;
          grid-row: span 1;
        }

        > p {
          grid-column: span 8;
          grid-row: 2 / -1;
        }

        .donation-info{
          grid-column: 9 / span 4;
          grid-row: 1 / -1;
        }
      }

  }
}