/*
Donation Page Styling
*/

// base
@use '../base/colors' as *;
@use '../base/media-queries' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;
@use '../base/variables' as *;
// components
@use '../components/button' as *;
@use '../components/card' as *;

// this is the about us wrapper id
section#events-page{
  background-color: $accent-white;
  padding: $responsiveSectionPadding;
  // margin: $sectionMargin !important;
  border-radius: $mainSectionBorderRadius;
  @include maxWidthCentered($maxWidth);
  &{
    margin: $sectionMargin;
  }

  div.entry-content{
    @include childMarginBottom;

    @include forScreenSizes(750px){
      > * {
        grid-column: 1 / -1;
      }
    }
  }


}