/*
Front Page Styling

delete any unused styles after
*/

// base
@use "../base/mixins" as *;
@use "../base/colors" as *;
@use "../base/media-queries" as *;
@use "../base/typography" as *;
@use "../base/variables" as *;
// components
@use "../components/button" as *;
@use "../components/card" as *;

// this is the front page wrapper id
main.front-page {
    .weekly-highlights {
    background-color: $white;
    padding: $mobileGridPadding;
    @include maxWidthCentered($maxWidth);
    @include forScreenSizes(tablet, desktop) {
      padding: $desktopGridPadding;
    }
  }

  /* Hero Banner Section*/
  .hero-banner {
    height: calc( 100vh - 120px);
    padding: 0 1rem;
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr auto auto 1fr;
    row-gap: 24px;
    column-gap: 16px;
    color: $accent-white;
    
    @include maxWidthCentered($maxWidth); 
    // @include grid;
    @include childMarginBottom;
    @include childGridSpan;
 

    h2 {
      font-size: $font24-to-font64;
      line-height: $line-height-24-64;
      font-weight: $font-weight-medium-bold;
      align-self: flex-end;

      span{
        display: block;
      }
    }

    p:first-of-type {
      font-size: $font16-to-font40;
      line-height: $line-height-16-40;
      font-style: italic;
    }

    // our church just opened
    p:nth-last-of-type(2) {
      padding: 2rem 0;
      font-size: $font14-to-font32;
      line-height: $line-height-14-32;
      font-weight: $font-weight-medium;
    }

    p:last-of-type{
      grid-column: span 3;
    }

    a{
      width: 100%;
    }

   
  
    @include forScreenSizes(tablet, desktop) {
      & {
        grid-template-columns: repeat(12, 1fr);
        row-gap: 24px;
        padding: 0 36px;

        p:nth-last-of-type(2){
          padding-top: 9rem;
          grid-column: 7 / span 6;
        }

        p:last-of-type {
          grid-column: 10 / span 3;
        }

     
      }
    }
  }

  /* End of Hero Banner Section*/

  .weekly-highlights {
    @include childMarginBottom;
    > div {
      @include card($padding: 14px 24px, $color: $secondary-blue, $border: 1px solid $accent-yellow, $background-color: rgba($main-yellow, 0.45));
      width: 100%;


      h3 {
        font-family: $body-font-family;
        font-weight: $font-weight-medium;
      }

      p {
        font-size: $font14-to-font24;
        line-height: $line-height-14-24;
      }
    }
  }

  /*--------------------------Welcome to our Church Section------------------------------*/
  .welcome {
    position: relative;
    color: $accent-white !important;
    background-color: $white;
    margin-bottom: 0;
    padding:$mobileGridPadding;
    @include maxWidthCentered($maxWidth);
    @include grid;
    @include childGridSpan;

    // welcome to our church
    > div:first-of-type {
      z-index: 12;

      @include childMarginBottom;
      // come in person
      section {
        @include childMarginBottom;
        // church location
        > div:first-of-type {
          @include card;
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;

          i{
            font-size: $font16-to-font40;
            color: $main-yellow;
          }
        } /* end of church location */

        // church hours
        > div:last-of-type {
          ul.service-times {
            @include gridContainer($columns: 4, $gap: 16px);
            text-align: center;
            li {
              @include card($background-color: $accent-green, $border: none);
              grid-column: span 2;
              font-size: $font14-to-font24;
              line-height: $line-height-14-24;
              time {
                display: block;
                font-weight: $font-weight-bold;
                font-size: $font20-to-font32;
                line-height: $line-height-20-32;
              }
            }
          }
        } /* end of church hours section */
      }
    }

    // Join Livestream Section
    > section {
      z-index: 12;
      @include childMarginBottom;
    }

    @include forScreenSizes(tablet, desktop) {
      & {
        padding: $desktopGridPadding;
        // first div
        > div {
          grid-column: span 6;

          ul.service-times {
            @include gridContainer;
            li {
              grid-column: span 3;
            }
          }
        }

        section {
          grid-column: span 6;
          a {
            grid-column: span 3;
          }
        }
      }
    }
  }

  div.welcome-overlay{
    position: absolute;
    background-color: rgba($main-green, 0.70);
    top: 0;
    left: -1rem;
    right: -1rem;
    bottom: 0;
    z-index: 1;

    @include forScreenSizes(tablet,desktop){
      left: 0;
      right: 0;
    }
  }

  /*--------------------------Upcoming Events Section------------------------------*/

  .upcoming-events {
    // @include grid;

    // @include childMarginBottom;

    // @include childGridSpan;
    background-color: $white;
    >div{
      padding:$mobileGridPadding;
      @include childMarginBottom;
      @include maxWidthCentered($maxWidth);
      @include grid;
      @include childGridSpan;
  
    
    .events-list {
      .event-item {
        position: relative;
        .date {
          width: 3.375rem;
          height: 4.875rem;
          display: flex;
          flex-flow: column wrap;
          background-color: $main-yellow;
          font-size: 24px;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 100;

          .event-day {
            font-family: $heading-font-family;
          }
        }
      }
    }

    // adding margin-bottom to elements
    @include forScreenSizes(tablet, desktop) {
      & {
          padding: $desktopGridPadding;
        .events-list {
          @include gridContainer;
          .event-item {
            grid-column: span 3;
          }
        }
        a {
          grid-column: 10 / span 3;
        }
      }
    }
  }
}

  /*--------------------------Explore Our Church Group Section------------------------------*/
  .upcoming-events + section {
    background-color: $white;


    >div{
    padding:$mobileGridPadding;
    @include maxWidthCentered($maxWidth);
    @include grid;
    @include childMarginBottom;
    @include childGridSpan;

    hr {
      border: 3px solid $accent-yellow;
      grid-column: span 2;
    }

    .organization-card-link {
      display: block;
      text-decoration: none;
      margin-bottom: 1.5rem;
    }

    .organization-card {
      position: relative;
      width: 100%;
      height: 233px;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 4px 11.3px 4px 0 rgba(73, 11, 5, 0.12);
    }

    .organization-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .organization-card-title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      padding: 106px 187px 15px 15px;
      color: $accent-white;
      font-size: $font20-to-font40;
      line-height: $line-height-20-40;
      font-weight: $font-weight-bold;
    }

    @include forScreenSizes(tablet, desktop) {
      padding: $desktopGridPadding;
      hr{
        grid-column: span 3;
      }

      div.parish-organization-list {
        order: 3;
        @include gridContainer;

        > * {
          grid-column: span 4;
        }
      }

      a {
        grid-column: span 3;
      }
    }
  }

  }

  /*---------------------------Membership Section------------------------------*/
  .membership {
    background-color: $white;
    >div{
    padding:$mobileGridPadding;
    color: $primary-blue;
    background-color: $white;
    position: relative;
    @include maxWidthCentered($maxWidth);
    @include grid;
    @include childMarginBottom;

    > *{
      grid-column:  1 / -1;
      z-index: 2;
    }

    >div{
      @include childMarginBottom;
    }

    .membership-options {
      section {
        @include card($color: $primary-blue);
      }
    }

    @include forScreenSizes(tablet, desktop) {
      & {
        padding: $desktopGridPadding;
        grid-template-rows: 1fr auto;

        > div:first-child {
          grid-column: 1 / span 4;
          order: -2;
          grid-row: 1 / span 1;
        }

        .button-container {
          grid-column: 1 / span 4;
          grid-row: 2 / -1;
          order: -1;
        }

        .membership-options {
          grid-column: 5 / span 4;
          grid-row: 1 / -1;
        }
      }
    }
  }
  
}

  div.membership-overlay{
    position: absolute;
    background-color: rgba(239, 194, 117, 0.45)!important;
    top: 0;
    left: -1rem;
    right: -2rem;
    bottom: 0;
    z-index: 1;

    @include forScreenSizes(tablet, desktop){
      grid-column: 1 / span 8;
      left: -2.25rem;
      right:  -2.25rem;
    }
  }

  
  /*---------------------------Donation Section------------------------------*/
  .donation {
    background-color: $white;
    >div{
    padding:$mobileGridPadding;
    @include maxWidthCentered($maxWidth);
    @include grid;
    @include childMarginBottom;

    > *:not(hr) {
      grid-column: 1 / -1;
    }

    hr {
      border: 3px solid $accent-yellow;
      grid-column: span 2;
    }

    div{
      @include childMarginBottom;
    }

    @include forScreenSizes(tablet, desktop) {
      padding: $desktopGridPadding;
      hr {
        grid-column: 9 / span 3;
      }
      > div {
        grid-column: 9 / span 4;
      }
    }
  }
}
}

/*===========================END OF FRONT PAGE=================================*/
