/*
Front Page Styling

delete any unused styles after
*/

// base
@use "../base/colors" as *;
@use "../base/media-queries" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;
@use "../base/variables" as *;
// components
@use "../components/button" as *;
@use "../components/card" as *;

// this is the front page wrapper id
main.front-page {
  * {
    margin-bottom: 1.5rem;
  }

  > section:not(.hero-banner) {
    @include maxWidthCentered(1248px);
    background-color: $white;
    padding: 1.5rem 1rem;

    @include forScreenSizes(tablet, desktop) {
      padding: 1.5rem 2.25rem;
    }
  }

  /* Hero Banner Section*/
  .hero-banner {
    @include maxWidthCentered(1248px);
    padding: 0 1rem;
    background-color: transparent;
    height: calc(100vh - 100px);
    color: $accent-white;
    @include grid;

    > * {
      grid-column: 1 / -1;
    }

    h2 {
      // padding-top: 194px 0 16px;
      font-size: $font24-to-font64;
      font-weight: $font-weight-medium-bold;
      line-height: $base-line-height;
    }

    p:first-of-type {
      font-size: $font16-to-font40;
      $font-style: italic;
    }

    p:last-of-type {
      // padding-top: 100px;
      font-size: $font14-to-font32;
      font-weight: $font-weight-medium;
    }

    // a {
    //   margin: 11px 0 70px;
    // }

    @include forScreenSizes(tablet, desktop) {
      & {
        padding: 0 36px;

        p:last-of-type,
        a {
          grid-column: 10 / span 3;
        }
      }
    }
  }

  /* End of Hero Banner Section*/

  .weekly-highlights {
    > div {
      @include card($padding: 14px 24px, $color: $secondary-blue);
      width: 100%;

      h3 {
        font-family: $body-font-family;
        font-weight: $font-weight-medium;
      }

      p {
        font-size: $font14-to-font24;
      }
    }
  }

  /*--------------------------Welcome to our Church Section------------------------------*/
  .welcome {
    position: relative;
    padding: 0 16px;
    color: $accent-white !important;
    background-color: rgba(41, 73, 30, 0.70) !important;
    margin-bottom: 0;
    @include maxWidthCentered(1248px);
    @include grid;

    > * {
      grid-column: 1 / -1;
    }

    // welcome to our church
    > div:first-of-type {
      z-index: 12;
      // come in person
      section {
        // church location
        > div:first-of-type {
          @include card;
        } /* end of church location */

        // church hours
        > div:last-of-type {
          ul {
            @include gridContainer($columns: 4, $gap: 16px);
            li {
              @include card($background-color: $accent-green, $border: none);
              grid-column: span 2;
              font-size: $font14-to-font24;
              time {
                display: block;
                font-weight: $font-weight-bold;
                font-size: $font20-to-font32;
              }
            }
          }
        } /* end of church hours section */
      }
    }

    > section {
      z-index: 12;
    }

    @include forScreenSizes(tablet, desktop) {
      & {
        // first div
        > div {
          grid-column: span 6;

          ul {
            @include gridContainer;
            li {
              grid-column: span 3;
            }
          }
        }

        section {
          grid-column: span 6;
          a {
            grid-column: span 3;
          }
        }
      }
    }
  }

  /*--------------------------Upcoming Events Section------------------------------*/

  .upcoming-events {
    margin-top: 0;
    @include grid;

    > * {
      grid-column: 1 / -1;
    }

    .events-list {
      .event-item {
        position: relative;
        .date {
          width: 3.375rem;
          height: 4.875rem;
          display: flex;
          flex-flow: column wrap;
          background-color: $main-yellow;
          font-size: 24px;
          position: absolute;
          top: 50%;
          left: 50%;
          z-index: 100;

          .event-day {
            font-family: $heading-font-family;
          }
        }
      }
    }

    // adding margin-bottom to elements
    @include forScreenSizes(tablet, desktop) {
      & {
        .events-list {
          @include gridContainer;
          .event-item {
            grid-column: span 3;
          }

          a {
            grid-column: 10 / span 3;
          }
        }
      }
    }
  }

  /*--------------------------Explore Our Church Group Section------------------------------*/
  .upcoming-events + section {
    padding: $section-padding;
    @include grid;

    > * {
      grid-column: 1 / -1;
    }

    hr {
      border: 3px solid $accent-yellow;
      grid-column: span 2;
    }

    .organization-card-link {
      display: block;
      text-decoration: none;
    }

    .organization-card {
      position: relative;
      width: 100%;
      height: 233px;
      border-radius: 4px;
      overflow: hidden;
      box-shadow: 4px 11.3px 4px 0 rgba(73, 11, 5, 0.12);
    }

    .organization-image {
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }

    .organization-card-title {
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;
      padding: 106px 187px 15px 15px;
      color: $accent-white;
      font-size: $font20-to-font40;
      font-weight: $font-weight-bold;
    }

    @include forScreenSizes(tablet, desktop) {
      div.parish-organization-list {
        order: 3;
        @include gridContainer;

        > * {
          grid-column: span 4;
        }
      }

      a {
        grid-column: span 3;
      }
    }
  }

  /*---------------------------Membership Section------------------------------*/
  .membership {
    position: relative;
    color: $primary-blue;
    background-color: $white;
    @include grid;
   

    > *{
      grid-column:  1 / -1;
      z-index: 2;
    }

    .membership-options {
      section {
        @include card($color: $primary-blue);
      }
    }

    @include forScreenSizes(tablet, desktop) {
      & {
        grid-template-rows: 1fr auto;

        > div:first-child {
          grid-column: 1 / span 4;
          order: -2;
          grid-row: 1 / span 1;
        }

        .button-container {
          grid-column: 1 / span 4;
          grid-row: 2 / -1;
          order: -1;
        }

        .membership-options {
          grid-column: 5 / span 4;
          grid-row: 1 / -1;
        }
      }
    }
  }

  div.membership-overlay{
    position: absolute;
    background-color: rgba(239, 194, 117, 0.45)!important;
    top: 0;
    left: -1rem;
    right: -2rem;
    bottom: 0;
    z-index: 1;

    @include forScreenSizes(tablet, desktop){
      grid-column: 1 / span 8;
      left: -2.25rem;
      right:  -2.25rem;
    }
  }

  .donation {
    @include grid;

    > *:not(hr) {
      grid-column: 1 / -1;
    }

    hr {
      border: 3px solid $accent-yellow;
      grid-column: span 2;
    }

    @include forScreenSizes(tablet, desktop) {
      hr {
        grid-column: 9 / span 3;
      }
      > div {
        grid-column: 9 / span 4;
      }
    }
  }
}

/*===========================END OF FRONT PAGE=================================*/
