/*
Livestream Page Styling

delete any unused styles after
*/

// base
@use "../base/colors" as *;
@use "../base/media-queries" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;
@use "../base/variables" as *;
// components
@use "../components/button" as *;


section#livestream {
  background-color: $accent-white;
  padding: $responsiveSectionPadding;
  border-radius: $mainSectionBorderRadius;
  @include maxWidthCentered($maxWidth);
  & {
    margin: $sectionMargin;
  }

  .entry-header {
    margin-bottom: $base-line-height;
  }

  div.entry-content {
    justify-self: start;
    width: 100%;
    @include grid ($row-gap: 1rem);
    @include childGridSpan;

    // our service times


      section {
        @include grid ($row-gap: 1rem);
        @include childGridSpan;

        > div {
          ul.service-times {
            text-align: center;
            background-color: rgba($main-green, 0.7);
            padding: 1rem 1rem;
            display: flex;
            justify-content: space-between;
            gap: 1rem;
            li {
              flex-basis: 50%;
              display: flex;
              flex-direction: column;
              @include card($background-color: $accent-green, $border: none, $padding: 0);
              font-size: clamp(14px, 1.5vw, 16px);
              line-height: normal !important;
              padding: 8px 0;

              time {
                font-weight: $font-weight-bold;
                font-size: clamp(14px, 1.5vw, 16px);
              }
            }
          }
        }
      }

      // social media links
      nav {

        h2 {
          margin-bottom: 1.5rem;
        }
        a {
          width: 100%;
        }
      }
  }

  @include forScreenSizes(tablet, desktop) {
    & {
      div.entry-content {
        grid-template-rows: auto 1fr;
        // livestream video
        > div {
          grid-column: span 8;
          grid-row: 1 / span 1;
        }

        .service-socials {
          grid-column: 9 / span 4;
          // our service times
          > section {
            grid-template-rows: auto 1fr;
            margin-bottom: 1.5rem;
            > div {
              align-items: start;
              > ul.service-times {
                max-width: 100%;
                overflow: hidden;
                li {
                  min-width: 40%;
                  grid-column: span 6;
                }
              }
            }
          }

          // social links
          > nav {
            a{
              margin-bottom: 1rem;
              i{
                margin-left: 1.625rem;
              }
            }
          }
        }
      }
    }
  }
}
