/*
Membership Sign Up Page Styling

delete any unused styles after
*/

// base
@use '../base/colors' as *;
@use '../base/media-queries' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;
@use '../base/variables' as *;
// components
@use '../components/button' as *;


// this is the about us wrapper id
section#member-page{
  background-color: $accent-white;
  padding: $responsiveSectionPadding;
  // margin: $sectionMargin !important;
  border-radius: $mainSectionBorderRadius;
  @include maxWidthCentered($maxWidth);
  &{
    margin: $sectionMargin;
  }

  header{
    margin-bottom: $base-line-height;
  }

  div.entry-content{
    @include childMarginBottom;
    section{
      @include card($background-color: $main-yellow, $color: $primary-blue, $padding: 1.5rem);
      @include childMarginBottom;
    }

    a{
      width: 100%;
    }

    @include forScreenSizes(tablet,desktop){
      &{
        @include gridContainer($column-gap: 24px);
        p{
          grid-column: 1 / -1;
        }

        section{
          grid-column: span 4;
          h2{
            min-height: 64px;
          }
        }

        a{
          grid-column: span 4;
        }

      }
    }
  }

 



}