//this will be the default styling for archive.php, single.php, page.php and index.php

@use '../base/colors' as *;
@use '../base/media-queries' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;
@use '../base/variables' as *;


section.page{
  background-color: $accent-white;
  padding: $responsiveSectionPadding;
  border-radius: $mainSectionBorderRadius;
  @include maxWidthCentered($maxWidth);
  @include childMarginBottom;
  &{
    margin: $sectionMargin;
    margin-left: 16px!important;
    margin-right: 16px!important;
  }

 a.button{
  @include button;
  width: 100%;
 }


 @include forScreenSizes(750px){
  div.entry-content{
    @include gridContainer($column-gap: 32px);
    // filter section
    div#woocommerce-sidebars{
      grid-column: span 3;
    }

    div.woocommerce{ 
      grid-column: 4 / span 9;
    }
  }
}

  @include forScreenSizes(desktop){
    margin-left: auto !important;
    margin-right: auto !important;
  }
}