/*
Single Product Page Styling

*/

// base
@use "../base/colors" as *;
@use "../base/media-queries" as *;
@use "../base/mixins" as *;
@use "../base/typography" as *;
@use "../base/variables" as *;
// components
@use "../components/button" as *;


section#single-product-page {
  background-color: $accent-white;
  padding: $responsiveSectionPadding;
  // margin: $sectionMargin !important;
  border-radius: $mainSectionBorderRadius;
  @include maxWidthCentered($maxWidth);
  @include childMarginBottom;
  & {
    margin: $sectionMargin;
    margin-inline: 16px;
  }

  div.entry-summary,  div.woocommerce-Tabs-panel--description, section.related.products{
@include childMarginBottom;
  }
// price
  .woocommerce-Price-amount{
font-size: $font20-to-font36;
line-height: $line-height-20-36;
font-weight: $font-weight-medium;
color: $primary-blue;
  }

form.cart{
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  div.quantity{
    input.input-text{
      padding: 24px 16px;
    }
  }
}
  
  .single_add_to_cart_button, a.add_to_cart_button, .woocommerce-message a{
    @include button;
  }

  div.woocommerce-message{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  div.product_meta{
    display: flex;
    flex-flow: column wrap;
    gap: 1.5rem;
    font-size: $font16-to-font24;
    line-height: $line-height-16-24;
  }

  li.description_tab{
    @include button($bg: rgba($accent-green, 0.45), $color: $primary-blue, $padding: 0.75rem 1rem)
  }

  @include forScreenSizes(tablet, desktop){
    margin-inline: auto;
  }
  
}
