/*
Single Parish Organization Page Styling

delete any unused styles after
*/

// base
@use '../base/colors' as *;
@use '../base/media-queries' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;
@use '../base/variables' as *;
// components
@use '../components/button' as *;


// this is the about us wrapper id
section#organization-single{
  background-color: $accent-white;
  // margin: 2rem auto !important;
  padding: $responsiveSectionPadding;
  border-radius: 10px;
  @include maxWidthCentered($maxWidth);
  @include grid;
  @include childGridSpan;
  & {
    margin: $sectionMargin;
    margin-inline: 16px;
  }

  .org-single-header h1{
    font-size: $font24-to-font48;
    line-height: $line-height-24-48;
  }

  div.entry-content{
    @include grid;
    @include childGridSpan;


    // gallery section
    .acf-gallery{
      a:not(:last-of-type){
        margin-bottom: $base-line-height;
      }

      img{
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }

    div.form-recommendation-container{
      padding: $mobileGridPadding;
      background-color: $light-yellow;
      overflow-x: hidden;
      border-radius: $borderRadius;
    }

    // organization recommendations
    section.organization-recommendations{
      h2{
        margin-bottom: $base-line-height;
      }

    }

  }

  @include forScreenSizes(425px) {
    &{
    div.entry-content {
      grid-template-columns: repeat(12, 1fr);

      .acf-gallery {
        @include gridContainer($columns: 12, $row-gap: 0);

        a:first-of-type {
          grid-column: 1 / -1;
        }
        a:not(:first-of-type) {
          grid-column: span 4;
        }
      }
    }
  }
}

  @include forScreenSizes(tablet, desktop){
    margin-inline: auto;
    div.entry-content{
      grid-template-rows: repeat(3, auto) 1fr ;

      p:first-of-type{
        grid-row: 1 / span 1;
      }

      a{
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
      }

      // gallery section
      .acf-gallery{
        grid-column: 1 / span 8;
        grid-template-rows: auto;

        a:first-of-type{
          grid-column: 1 / -1;
          grid-row: 1 / span 1;
        }

        a:not(:first-of-type){
          grid-column: span 3;
          grid-row: 2 / -1;
        }
      }

      // description
      div.org-description{
        grid-column: 1 / span 8;
        grid-row: 4 / -1;
        @include childMarginBottom;
      }

      div.form-recommendation-container{
        grid-column: 9 / span 4;
        grid-row: 3 / -1;
      }

    }
  }


}