/*
Single Parish Organization Page Styling

delete any unused styles after
*/

// base
@use '../base/colors' as *;
@use '../base/media-queries' as *;
@use '../base/mixins' as *;
@use '../base/typography' as *;
@use '../base/variables' as *;
// components
@use '../components/button' as *;
@use '../components/card' as *;

// this is the about us wrapper id
section#organization-single{
  background-color: $accent-white;
  margin: 2rem auto !important;
  padding: $mobileGridPadding;
  @include maxWidthCentered($maxWidth);
  @include grid;
  @include childGridSpan;

  .org-single-header h1{
    font-size: $font24-to-font96;
    line-height: $line-height-24-96;
  }

  div.entry-content{
    @include grid;
    @include childGridSpan;


    // gallery section
    .acf-gallery{
      img:not(:last-of-type){
        margin-bottom: $base-line-height;
      }

      img{
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
      }
    }

    div.form-recommendation-container{
      padding: $mobileGridPadding;
      background-color: $main-yellow;
      overflow-x: hidden;
    }

    // organization recommendations
    div.organization-recommendations{
      h2{
        margin-bottom: $base-line-height;
      }
      
      div.organization-cards{
        .organization-card-link {
          display: block;
          text-decoration: none;
          margin-bottom: 1.5rem;
        }

        .organization-card {
          position: relative;
          width: 100%;
          height: 233px;
          border-radius: 4px;
          overflow: hidden;
          box-shadow: 4px 11.3px 4px 0 rgba(73, 11, 5, 0.12);
        }
      
        .organization-image {
          width: 100%;
          min-height: 300px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          display: block;
        }
      
        .organization-card-title {
          position: absolute;
          bottom: 10px;
          left: 10px;
          right: 10px;
          padding: 106px 187px 15px 15px;
          color: $accent-white;
          font-size: $font20-to-font40;
          line-height: $line-height-20-40;
          font-weight: $font-weight-bold;
        }

        
      }
    }


  }

  @include forScreenSizes(425px) {
    &{
    div.entry-content {
      grid-template-columns: repeat(12, 1fr);
      .acf-gallery {
        @include gridContainer($columns: 12, $row-gap: 0);
        img:first-of-type {
          grid-column: 1 / -1;
        }
        img:not(:first-of-type) {
          grid-column: span 4;
        }
      }
    }
  }
}

  
  @include forScreenSizes(tablet, desktop){
    padding: $desktopGridPadding;

    div.entry-content{
      grid-template-rows: repeat(3, auto) 1fr ;
  
      p:first-of-type{
        grid-row: 1 / span 1;
      }

      a{
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
      }
  
      // gallery section
      .acf-gallery{
        grid-column: 1 / span 8;  
        
        @include gridContainer($columns: 8);

        img:first-of-type{
          grid-column: 1 / -1;
        }

        img:not(:first-of-type){
          grid-column: span 2;
        }
      }
  
      // description
      div.org-description{
        grid-column: 1 / span 8;
        grid-row: 4 / -1;
      }
  
      div.form-recommendation-container{
        grid-column: 9 / span 4;
        grid-row: 3 / -1;
      }
  
    }
  }


}